{% extends 'main/base.html' %}
{% load thumbnail %}

{% block content %}
<h1>{{title}}</h1>
{% if object.image %}
<a href="{{object.image.url}}" target="_blank">
{% thumbnail object.image "200x100" crop="center" as im %}
  <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
</a>
{% endthumbnail %} 
{% endif %}
<ul>
<li>Brand - {{object.brand}}</li>
<li>Model - {{object.model}}</li>
<li>Color - {{object.color}}</li>
<li>Power - {{object.power}}</li>
<li>Year - {{object.year}}</li>
</ul>
{% endblock %}