{% extends 'main/base.html' %}
 
{% block content %}
<h1>{{title}}</h1>

Клиенты:
<table id="clients" border="1">
    <th>id</th>
    <th>Имя</th>
    <th>Фамилия</th>
    <th>Дата рождения</th>
    <th>Возраст</th>
    <th>Город</th>
    <th>Телефон</th>
    <th>Эл. почта</th>
    <th>Дата создания</th>

    {% for client in clients %}
         <tr>
            <td align="center" >{{client.id}}</td>
            <td align="center">{{client.name}}</td>
            <td align="center">{{client.last_name}}</td>
            <td align="center">{{client.birthday}}</td>
            <td align="center">{{client.age}}</td>
            <td align="center">{{client.city}}</td>
            <td align="center">{{client.phone}}</td>
            <td align="center">{{client.email}}</td>
            <td align="center">{{client.created_at}}</td>
         </tr>
{% endfor %}

</table>
<p><a href="{% url 'main:add_client' %}">Добавить клиента</a></p>

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}