{% extends 'main/base.html' %}
 
{% block content %}
<h1>{{title}}</h1>
Содержимое страницы Водитель

<table id="driver" border="1">
    <th>id</th>
    <th>Имя</th>
    <th>Возраст</th>
    <th>Город</th>

    {% for driver in objects %}
         <tr>
            <td align="center" >{{driver.id}}</td>
            <td align="center">{{driver.name}}</td>
            <td align="center">{{driver.age}}</td>
            <td align="center">{{driver.city}}</td>
         </tr>
{% endfor %}

</table>
<p><a href="{% url 'main:add_driver' %}">Добавить водителя</a></p>
{% endblock %}